.container-geral-entrada{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login-body .verde-logo{
    padding-top: 15px;
    padding-left: 15px;
    width: 120px;
}

.container-entrada{
    padding: 1em 3em;
    padding-bottom: 2em;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    width: 30%;
    margin-bottom: 50px;
}

.borda-container-entrada{
    text-align: center;
}

.borda-container-entrada .quero-logo{
    width: 300px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.caixa-dados-entrada h2{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 1em;
}

.botoes-entrada{
    text-align: center;
}

.botoes-entrada button {
    border: none;
    border-radius: 12px;
    background-color: #0D9B54;
    color: #fff;
    width: 100%;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: 600;
}

.botoes-entrada .texto-botao-entrada{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.botoes-entrada .texto-botao-entrada:hover{
    font-size: 28px;
}

.botoes-entrada button:hover {
    cursor: pointer;
}