body .login-body{
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    background: linear-gradient(180deg, #1B9B0D 0%, rgba(0, 0, 0, 0.808) 146.97%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
}

.container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login-body .verde-logo{
    padding-top: 15px;
    padding-left: 15px;
    width: 120px;
}

.container-login{
    padding: 1em 3em;
    padding-bottom: 2em;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    width: 30%;
    margin-bottom: 50px;
}

.borda-container-login{
    text-align: center;
}

.borda-container-login .quero-logo{
    width: 300px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.caixa-dados h2{
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 1em;
}

.input-login{
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 12px;
    border: 2px solid #0D9B54;
}

.input-login label{
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
}

.input-login input{
    padding-left: 15px;
    font-size: 16px;
    border: none;
}

.input-login input:focus-visible{
    outline: none;
}

.botoes-login{
    text-align: center;
}

.botoes-login button {
    border: none;
    border-radius: 12px;
    background-color: #0D9B54;
    color: #fff;
    width: 130px;
    margin: 20px 10px;
    padding: 5px 0;
}

.botoes-login .texto-botao{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 4.3px 20px; 
}

.botoes-login .texto-redefinir{
    font-size: 14px;
    text-decoration: underline;
}

.botoes-login button:hover {
    background-color: #0f6e3d;
    cursor: pointer;
}