.body-panorama{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-principal-panorama{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    padding: 2em 3em;
    border-radius: 15px;
    border: 1px solid #D9D9D9;;
    width: 95%;
}

.container-principal-panorama .legenda-borda{
    text-align: center;
    background-color: #fff;
    padding: 0 50px;
    color: #A6A6A6;
}

.container-panorama{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 1em;
    margin-top: 15px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 45%;
    height: 350px;
}

.container-panoinfo{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 1em;
    margin-top: 15px;
    border-radius: 15px;
    justify-content: start;
    text-align: center;
    align-items: center;
    width: 45%;
    height: 350px;
}

.container-panoinfo h2{
    margin-top: 25px;
}

.container-panoinfo hr{
    margin-top: 25px;
    padding: 0;
    height: 1px;
    width: 80%;
}


.container-info{
    margin-top: 25px;
    width: 80%;
    max-height: 20%;
    padding: 1em;
    color: black;
    border-radius: 12px;
    background-color: #9ED5AB;
}