.container-itens-adianta{
    background-color: #D9D9D9;
    padding: 1em;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.adiantamento{
    display: flex;
    flex-direction: row;
}

.container-itens-adianta input{
    margin-left: 10px;
}

.container-itens-adianta label{
    margin-left: 10px;
}

.container-itens-adianta input, .container-itens-adianta label{
    margin-top: 20px;
}

.box-adiantamento{
    padding-left: 100px;
}

.style-modal-solicitar{
    font-size: 26px;
    color: #238038;
    font-weight: 700;
    padding: 10px;
}