.container-principal .status{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.status-analise{
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    background-color: #F2CA30;
    padding: 6px 24px;
    border-radius: 12px;
}

.status-aprovada{
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    background-color: #0D9B54;
    padding: 6px 24px;
    border-radius: 12px;
}

.status-reprovada{
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    background-color: #811F1F;
    padding: 6px 24px;
    border-radius: 12px;
}