.body-cadastro body{
    background-color: #fff;
    height: 100%;
  }

.body-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-principal{
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 2em 3em;
    border-radius: 15px;
    border: 1px solid #D9D9D9;;
    width: 95%;
}

.container-principal .legenda-borda{
    text-align: center;
    background-color: #fff;
    padding: 0 50px;
    color: #A6A6A6;
}

.container-itens{
    background-color: #D9D9D9;
    padding: 1em;
    padding-top: 0.4em;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.input-box{
    display: inline-block;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 4px;
}

.box-botao{
    margin-top: 20px;
    text-align: end;
}

.button{
    background-color: #0D9B54;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 45px;
    color: #fff;
}

.button:hover{
    background-color: #D9D9D9;
    color: #0D9B54;
    cursor: pointer;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.input-box input{
    border-radius: 10px;
    border: none;
    padding: 6px 10px;
    width: 250px;
    margin-top: 5px;
    box-shadow: 1px 1px 6px 1px #0000001c;
}

.input-box input:hover{
    background-color: #f0f0f0;
}

.input-box input:focus-visible{
    outline: 1px solid #0D9B54;
}

.input-box label{
    font-size: 16px;
    font-weight: 400;
}

.style-modal-cadastro{
    color: #238038;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-right: 15px;
}