.react-calendar { 
    width: 95%;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 85%;
    line-height: 2em;

}

.react-calendar__navigation button {
    color: #000;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
}

.react-calendar__navigation{
    border-radius: 12px 12px 0 0 ;
    background-color: #9ED5AB;
}

.react-calendar__tile, .react-calendar__month-view__days__day,.react-calendar__month-view__days__day--weekend{
    background-color: #ebebeb;
    border: 1px solid #fff;
    height: 35px;
}


.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
abbr[title] {
    text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #9ED5AB;
    color: #000;
    border-radius: 6px;
}
.react-calendar__tile--now {
    background: #9ED5AB;
    border-radius: 6px;
    font-weight: bold;
    color: #000;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #9ED5AB;
    border-radius: 6px;
    font-weight: bold;
    color: #000;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}
.react-calendar__tile--active {
    background: #9ED5AB;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #9ED5AB;
    color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
}
.react-calendar__tile--range {
    background: #f8f8fa;
    color: #9ED5AB;
    border-radius: 0;
}
.react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #9ED5AB;
    color: white;
}
.react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #9ED5AB;
    color: white;
}