.nav-navbar{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0.5em;
    align-items: center;
    height: 8vh;
    padding-left: 10em;
    padding-right: 10em;
    border: 1px solid #D9D9D9;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}


a{
    color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
}

.nav-navbar hr{
    height: 50%;
}

a:hover, a.active-nav{
    color: #238038;
}
