.botao-restaurar{
    text-align: center;
}

.botao-restaurar button{
    border: none;
    border-radius: 12px;
    background-color: #0D9B54;
    color: #fff;
    width: 130px;
    margin: 20px 10px;
    padding: 5px 0;
    font-size: 18px;
    padding: 5px 20px;
    font-weight: 600;
}

.botao-restaurar button:hover{
    cursor: pointer;
    background-color: #0f6e3d;
}

.style-modal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: #238038;
    font-weight: 700;
}

.box-button-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-modal{
    font-size: 18px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #aaa5a5;
}

.button-modal:hover{
    cursor: pointer;
    background-color: #4d0505;
}