.nav-header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #1B9B0D 0%, #238038 100%);
    padding: 0.5em;
    align-items: center;
    height: 12vh;
    padding-left: 2em;
    padding-right: 2em;
}

.principal-title h2{
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-img{
    font-size: large;
    width: 300px;
    height: 100%;
}

.container-mui{
    padding-left: 32px;
}

.logo {
    height: 100%;
    padding: 2px;
}

.logo-perfil{
    padding-left: 200px;
}