.bd-soli-gestor{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
}

.container-gestor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pesquisa{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    
}

.box-pesquisa{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #A6A6A6;
    border-radius: 12px;
    width: 40%;
    height: 5vh;
}

.entrada-pesquisa{
    font-size: 14px;
    width: 80%;
    border: none;
    background-color: none;
    margin-left: 8px;
}

/*.botao-pesquisa{
    border: none;
    font-size: 14px;
    border-radius: 0 12px 12px 0;
    padding: 4px 15px;
}

.botao-pesquisa:hover{
    cursor: pointer;
    color: #fff;
    background-color: #0D9B54;
}*/

.box-pesquisa input{
    outline: none;
    padding-left: 10px;
}

.box-pesquisa input:focus-visible{
    outline: none;
}