.container-principal.my {
    margin-bottom: 100px;
}

.input-box input{
    display: flex;
    align-content: stretch;
}

.container-itens-treze{
    background-color: #D9D9D9;
    padding: 1em;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.box-treze{
    padding-right: 2em;
}

.container-itens-treze label{
    padding-left: 10px;
}

.container-itens-treze input{
    margin-left: 5px;
}

.input-box textarea{
    width: 520px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    box-shadow: 1px 1px 6px 1px #0000001c;
}

.input-box textarea:hover{
    background-color: #f0f0f0;
}

.input-box textarea:disabled:hover{
    background-color: #fff;
}

.input-box textarea:focus-visible{
    outline: 1px solid #0D9B54;
}