.bd-my-gestor{
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.container-my{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 80vh;
}

.container-list{
    background-color: #D9D9D9;
    padding: 1em 2em;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-list p{
    width: 25%;
}

.container-my .container-list p{
    width: 33%;
}
.container-list a.botao-visualizar{
    border-radius: 12px;
    padding: 0.2em 1em;
    background-color: #F2CA30;
}

.aprovada{
    background-color: #9ED5AB;
}

.aprovada a.botao-visualizar, .reprovada a.botao-visualizar{
    color: #fff;
    background-color: #7C7C7C;
}

.aprovada a.botao-visualizar:hover, .reprovada a.botao-visualizar:hover{
    color: #000;
    background-color: #7C7C7C;
}

.reprovada{
    background-color: #E1A8A8;
}

