.bd-soli-gestor{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
}

.container-gestor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aprovada{
    background-color: #9ED5AB;
}

.reprovada{
    background-color: #E1A8A8;
}

