.container-analise{
    display: flex;
    flex-direction: row;
}

.box-analise{
    margin-right: 1em;
    margin-top: 2em;
    padding: 2em 2em;
    border-radius: 15px;
    border: 1px solid #D9D9D9;;
    width: 100%;
}

.box-comentario{
    margin-left: 1em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.label-ajuste{
    padding-bottom: 10px;
}

.itens-analise{
    background-color: #D9D9D9;
    padding: 1em;
    padding-top: 1em;
    border-radius: 12px;    
    font-size: 14px;
}

.box-botoes{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.botao-recusar, .botao-aprovar{
    width: auto;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.botao-recusar{
    background-color: #811F1F;
}

.botao-aprovar{
    background-color: #0D9B54;
}

.botao-recusar:hover, .botao-aprovar:hover{
    cursor: pointer;
}



.style-modal-recusa{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #811F1F;
}

.style-modal-aprova{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color:#0D9B54;
}

.container-principal{
    margin-bottom: 20px;
}

.container-resposta{
    margin-top:  20px;
    display: flex;
    flex-direction: column;
}

.itens-resposta{
    background-color: #D9D9D9;
    padding: 1em;
    padding-top: 1em;
    border-radius: 12px;    
    font-size: 14px;
}

.itens-resposta{
    background-color: #D9D9D9;
    padding: 1em;
    padding-top: 1em;
    border-radius: 12px;    
    font-size: 14px;
}

.input-box-resposta{
    display: inline-block;
    flex-wrap: wrap;
}

.input-box-resposta textarea {
    width: 520px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    box-shadow: 1px 1px 6px 1px #0000001c;
}

.input-box-resposta label {
    font-size: 16px;
    font-weight: 400;
}

