.bd-my-gestor{
    display: flex;
    align-items: stretch;

}

.nav-lateral{
    background: linear-gradient(180deg, #238038 0%, #1B9B0D 100%);
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding-top: 10px;
    margin: 0;
    padding-bottom: 0;
    height: 90vh;
    align-items: stretch;
}

.nav-lateral p{
    text-align: center;
    padding-top: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    background-color: #ffffff;
}

.nav-lateral p:hover, .nav-lateral p.active-lateral{
    background-color: #F2CA30;
}
