.nav-header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #1B9B0D 0%, #238038 100%);
    padding: 0.5em;
    align-items: center;
    height: 12vh;
    padding-left: 2em;
    padding-right: 2em;
}

.principal-title{
    margin-right: 25px;
}

.principal-title h2{
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 300px;
}

.container-img .link-sair{
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
}

.container-img .link-sair:hover{
    color: #093604;
    background-color: #ffffffd2;
    border-radius: 10px;
    padding: 5px 10px;
}

.logo {
    height: 100%;
    padding: 2px;
}

.logo-perfil{
    padding-left: 200px;
}